<div class="container" style="margin-top: 3rem;">
    <h1>Search MusicBrainz</h1>
    <form class="d-flex" #myform="ngForm" (ngSubmit)="OnSubmit(myform)">
        <input type="search" class="form-control me-2" placeholder="Search" name="search_artist"
            [(ngModel)]="search_artist">
        <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>


<div class="container" style="margin-top: 3rem;">
    <h2>Search Results :</h2>
</div>
<hr>

<div class="container" style="margin-top: 2rem;">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Artist Name</th>
                
                
            </tr>
        </thead>
        <tbody>
            @for (artist of artists_name; track artist; let i = $index){
            <tr>

                <!-- <td>{{artist}}</td> -->
                <td>

                   
                    <div ngbAccordion #accordion="ngbAccordion">
                        <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="true">
                            <div (click)="OnshowRelease(artist)" ngbAccordionHeader class="accordion-button custom-header justify-content-between">
                                <div class="m-0"  >{{artist}}</div>
                                <button ngbAccordionToggle class="btn btn-link p-0 ms-3" > {{ first.collapsed ? 'Show releases' : 'Hide releases' }}</button>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <!-- <ng-template>
                                        Anim pariatur cliche reprehende
                                    </ng-template> -->
                                    <app-accordion [release_year] = "release_year"
                                    [release_title] = "release_title"
                                    [release_label] = "release_label"
                                    [track_count] = "track_count"></app-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

            }
        </tbody>
    </table>

</div>